@import "tailwindcss";

@theme {
  --color-primary-black: #050505;
  --color-primary-white: #fafafa;
  --color-accent-gray: #1a1a1a;
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1a1a; /* Subtle dark gray for normal state */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fafafa; /* Bright white on hover to match site accent */
}

/* Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
